.wrapper {
  margin-top: 60px;
}

@media (max-width: 768px) {
  .wrapper {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    margin-top: 30px;
  }
}

.heading {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .heading {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .heading {
    margin-bottom: 15px;
    font-size: 1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Responsive */
@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.card {
  position: relative;
}

.image {
  width: 100%;
  height: 380px;
  object-fit: contain;
  cursor: pointer;
  background-color: #f5f5f5;
}

@media (max-width: 992px) {
  .image {
    height: 320px;
  }
}

@media (max-width: 768px) {
  .image {
    height: 350px;
  }
}

@media (max-width: 576px) {
  .image {
    height: 320px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .image {
    height: 350px;
    width: 100%;
  }
}

.info {
  padding-top: 10px;
  font-size: 13px;
}

.info span {
  display: block;
  color: gray;
}

@media (max-width: 768px) {
  .info {
    padding-top: 8px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .info {
    padding-top: 6px;
    font-size: 11px;
  }
}

/* ❤️ Heart Button */
.heartWrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.25s ease;
}

.heartWrapper:hover {
  transform: scale(1.1);
}

/* Animation on click */
.activeHeart {
  animation: pop 0.4s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.heartIcon {
  font-size: 16px;
  color: transparent;
  stroke: black;
  stroke-width: 40;
}


.activeHeart .heartIcon {
  color: black;
  /* stroke: black; */
}
